<!doctype html>
<html lang="en">
	{% include 'components/_head.jinja' %}

	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<ul class="flashes">
			{% for category, message in messages %}
				<li class="{{ category }}">{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}

	<body>
		<div class="container">
			{% include 'components/_nav.jinja' %}

			<main>
				{% block main %}{% endblock %}
			</main>

			{% include 'components/_footer.jinja' %}
		</div>
	</body>
</html>
