{% extends "components/_main.jinja" %}

{% block main %}
<div class="error-container">
    <div class="error-code">404</div>
    <div class="error-title">🚀 Houston, We Have a Problem!</div>
    <div class="error-message">
        <p>Looks like this page went on vacation to another dimension. 🌌</p>
        <p class="error-detail">Either that, or our quantum computers are having a bad hair day.</p>
    </div>
    
    <div class="error-suggestions">
        <h3>Here's what you can try:</h3>
        <ul>
            <li>🔍 Check if you typed the URL correctly (typos are so 2020)</li>
            <li>🏠 Head back to the <a href="{{ url_for('public.index') }}">homepage</a></li>
            <li>📚 Browse our <a href="{{ url_for('public.articles') }}">articles</a></li>
            <li>🤷‍♂️ Accept that some mysteries are better left unsolved</li>
        </ul>
    </div>
    
    <div class="error-ascii">
        <pre>
    (҂◡_◡) ᕤ
  ¯\_(ツ)_/¯
        </pre>
    </div>
</div>
{% endblock %}
