{% extends "components/_main.jinja" %}

{% block title %}About{% endblock %}

{% block main %}
{% set site_settings = get_site_settings() %}

<div class="card">
  {{ site_settings.about_page_content | safe }}
</div>
{% endblock %}
