{% extends "components/_main.jinja" %}

{% block title %}About{% endblock %}

{% block main %}
<div class="card">
  {# Content passed from the route (from SiteSettings) #}
  {{ content | safe }}
</div>
{% endblock %}
