{% extends "components/_main.jinja" %}

{% block title %}Welcome{% endblock %}

{% block main %}
<div class="card">
	{# This now renders the content passed from the public.py index route #}
	{{ content | safe }}
</div>
{% endblock %}
