{% extends "components/_main.jinja" %}

{% block title %}Welcome{% endblock %}

{% block main %}
{% set site_settings = get_site_settings() %}

<div class="card">
	{{ site_settings.welcome_page_content | safe }}
</div>
{% endblock %}
