<!doctype html>
<html lang="en">
	{% include '_head.jinja' %}
	<body>
		<div class="container">
			{% include '_nav.jinja' %}

			<main>
				{% block main %}{% endblock %}
			</main>

			{% include '_footer.jinja' %}
		</div>
	</body>
</html>
